.card-details {
    width: 300px;
    min-height: 80px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #eeecdb;
    border: 1px solid #aaa;
    color: #333;
    margin-bottom: 8px;
}

.job-pay {
    span {
        vertical-align: top;
    }

    .job-pay__value {
        color: #ada205;
        margin-right: 4px;
    }
}


.job__requirements,.card-details__modifiers {
    margin-top: 13px;

    .card-details__modifier {
        width: 12px;
        height: 12px;
        border: 1px solid #333;
        margin-right: 3px;
        display: inline-block;
        vertical-align: top;
    }
    .modifier__misshapen {
        background: #812bac;
    }
    .modifier__farm-tool {
        background: #dadada;
    }
    .modifier__job {
        background: #ea1235;
    }
}
