.card-details {
    width: 300px;
    min-height: 80px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #eeecdb;
    border: 1px solid #aaa;
    color: #333;
    margin-bottom: 8px;
}

.job-pay {
    span {
        vertical-align: top;
    }

    .job-pay__value {
        color: #ada205;
        margin-right: 4px;
    }
}