.card-details {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    min-height: 80px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #eeecdb;
    border: 1px solid #aaa;
    color: #333;
}

.job-pay {
    span {
        vertical-align: top;
    }

    .job-pay__value {
        color: #ada205;
        margin-right: 4px;
    }
}

.tool-slots__slot {
    width: 60px;
    height: 60px;
    background: rgba(30, 30, 30, 0.3);
    border: 1px solid #777;
}