.tool-details {
    width: 300px;
    min-height: 80px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #eeecdb;
    border: 1px solid #aaa;
    color: #333;
}

.tool-slots__slot {
    width: 68px;
    height: 68px;
    background: rgba(30, 30, 30, 0.3);
    border: 1px solid #777;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;

    .card {
        margin: 0;
    }
}

.tool-details__start.disabled {

}
